<a href="https://colab.research.google.com/github/gabriielns1/Aulas-Program-o/blob/main/Aula4_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Linguagens fortamente tipadas
#Linguagens fortamente dinamica

In [2]:
#Listas são estruturas de dados formados por elementos de um mesmo tipo 
numeros = [25, 4, 3, 6, 9]
numeros

[25, 4, 3, 6, 9]

In [3]:
#tamanho de uma lista
len(numeros)

5

In [4]:
#indices 
numeros[0]

25

In [5]:
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

25
4
3
6
9

In [6]:
#listas de outros tipos 
alunos = ['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']
alunos

['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']

In [7]:
#alterar o valores de intens da lista
alunos[3] = 'Ivan'
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina']

In [8]:
#Inserir Valores de itens de lista, append()
alunos.append('Aderbal')
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Aderbal']

In [9]:
alunos.append(input('Digite o nome: '))

Digite o nome: Gabriel

In [10]:
#Retira o ultimo
alunos.pop()
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Aderbal']

In [11]:
#descobrir se há um valor determinado na lista, exibir sua posição
if 'Gabriel' in alunos:
  print('Tem sim')
else:
  print('Tem não')

Tem não